@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #0a0a0a;
  color: #ffffff;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
